SERVER_PORT=8081

DB_URL=jdbc:postgresql://localhost:5432/kebun_db
DB_USERNAME=kebun_user
DB_PASSWORD=change_me_kebun_db_password

AUTH_SERVICE_URL=https://your-auth-service-url
JWT_SECRET=change_me_to_the_same_jwt_secret_as_auth_service

AUTH_INTERNAL_API_TOKEN=change_me_internal_api_token
